*.tgz
.DS_Store
TODO
README
test/fixtures/project/cache/*
test/fixtures/project/log/*
test/fixtures/project/data/sql/*
test/fixtures/project/data/db/*
test/fixtures/project/lib/model/doctrine/
test/fixtures/project/plugins/.channels/
test/fixtures/project/plugins/.registry/
test/fixtures/project/plugins/sfDoctrineGuardPlugin/lib/model/doctrine/
!.gitignore
